@import "tailwindcss";

:root {
  --background: #ededed;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  min-height: 100vh;
  background-color: #f3f4f6; /* gray-100 */
  color: #171717;
  font-family: Arial, Helvetica, sans-serif;
}
